/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background-color:orange;
}
img{
  /* padding-top:10%; */
  display: block;
  margin: 0 auto;
  width:auto;
  height:300px;
}

h1 {
  padding-top:2%;
}
form{
  padding-top:1%;
  padding-bottom:4%;
}

h1, form, h2{
  text-align:center;
}

section{
  display:flex;
  justify-content:center;
}
section div{
  width: 20%;
}
section div{
  padding-left:5%;
}

p{
  font-weight:bold;
  padding-top:2%;
  width:40%;
  margin:auto;
  margin-bottom:5%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
